### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data_df =pd.DataFrame(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
players=len(purchase_data_df["SN"].unique())

totalplayer_df=pd.DataFrame({"Total Player":[players]})
totalplayer_df

   Total Player
0           576

In [4]:
player_demo= purchase_data_df.loc[:,["Gender","SN","Age"]]
gender_demographics_df= player_demo.drop_duplicates()
n_players=player_demo.count()[0]

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
Total_Revenue= purchase_data_df["Price"].sum()
Average_Price= round(purchase_data_df["Price"].mean(),2)
Unique_items= len(purchase_data_df["Item Name"].unique())
Number_Purchases= purchase_data_df["Purchase ID"].count()

Purchase_Analysis_df=pd.DataFrame({"Number of Unique Items": [Unique_items],"Average Price": Average_Price,"Number of Purchases": Number_Purchases,"Total Revenue": Total_Revenue})
Purchase_Analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
player_demo=purchase_data_df.loc[:,["Gender","SN","Age"]]
gender_demographics_df = player_demo.drop_duplicates()
n_players=player_demo.count()[0]


gender_totals= gender_demographics_df["Gender"].value_counts().reset_index()
percentages = round(gender_totals['Gender']/n_players*100,2)

summary_df=pd.DataFrame({"Total Count": gender_totals, "Percentage of Players": percentages})

summary_df.sort_values(["Total Count"], ascending=False).style.format({"Percentage of Players":"{:.2f}"})

ValueError: Shape of passed values is (2, 2), indices imply (3, 2)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
gen_pur_tot= purchase_data_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gen_ave=purchase_data_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
gencount= purchase_data_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
age_bins=[0,9.90,14.90,19.90,24.90,29.90,34.90,39.90,99999]
groupnames=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

player_demo["Age Ranges"]=pd.cut(player_demo["Age"], age_bins,labels=groupnames)

age_demo_total=player_demo["Age Ranges"].value_counts()
age_demo_percent=age_demo_total/n_players*100

AgeDemographics=pd.DataFrame({"Total Count":age_demo_total,"Percentage of Players":age_demo_percent})

AgeDemographics.sort_index()

       Total Count  Percentage of Players
<10             23               2.948718
10-14           28               3.589744
15-19          136              17.435897
20-24          365              46.794872
25-29          101              12.948718
30-34           73               9.358974
35-39           41               5.256410
40+             13               1.666667

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
purchase_data_df["Age Ranges"]= pd.cut(purchase_data_df["Age"], age_bins, labels=groupnames)

pur_tot_age=purchase_data_df.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
ave_age=purchase_data_df.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
agecount= purchase_data_df.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")
toage_pep= pur_tot_age/AgeDemographics["Total Count"]

Age_info=pd.DataFrame({"Purchase Count":agecount,
                       "Average Purchase Price":ave_age,
                      "Total Purchase Value": pur_tot_age,
                      "Avg Total Purchase per person": toage_pep})

Age_info

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per person
<10,23,3.353478,77.13,3.353478
10-14,28,2.956429,82.78,2.956429
15-19,136,3.035956,412.89,3.035956
20-24,365,3.052219,1114.06,3.052219
25-29,101,2.900990,293.00,2.900990
30-34,73,2.931507,214.00,2.931507
35-39,41,3.601707,147.67,3.601707
40+,13,2.941538,38.24,2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
tot_user=purchase_data_df.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
ave_use=purchase_data_df.groupby(["SN"]).mean()["Price"].rename("Average Purhcase Price")
count_use= purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")
dataon_users=pd.DataFrame({"Total Purchase Value": tot_user,"Average Purchase Price":ave_use,"Purchase Count":count_use})

dataon_users.sort_values("Total Purchase Value", ascending= False).head()

             Total Purchase Value  Average Purchase Price  Purchase Count
SN
Lisosia93                   18.96                3.792000               5
Idastidru52                 15.45                3.862500               4
Chamjask73                  13.83                4.610000               3
Iral74                      13.62                3.405000               4
Iskadarya95                 13.10                4.366667               3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
popitems_data=purchase_data_df.loc[:,["Item ID","Item Name", "Price"]]
items_purch=popitems_data.groupby(["Item ID","Item Name"]).sum()["Price"].rename("Total Purhcase Value")
ave_item_purch= popitems_data.groupby(["Item ID","Item Name"]).mean()["Price"]
Tot_item_count=popitems_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")

Most_popitems= pd.DataFrame({"Total Purchase Value":items_purch,
                            "Item Price":ave_item_purch,
                            "Purchase Count":Tot_item_count})
Most_popitems.sort_values("Purchase Count", ascending = False).head()

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
92,Final Critic,59.99,4.614615,13
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,4.230000,12
145,Fiery Glass Crusader,41.22,4.580000,9
132,Persuasion,28.99,3.221111,9
108,"Extraction, Quickblade Of Trembling Hands",31.77,3.530000,9

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame